.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: opacity 0.8s ease;
}
.footer__column-link:hover {
  opacity: 0.6;
}
